/* .App {
  text-align: center;
} */
html{
display: flex;
justify-content: space-evenly;
/* align-items: center; */
}

body{
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}