html{
    /* border: 1px solid black; */
    width: 1238px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

 .wrapper {
  width: 1238px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  /* border: 2px solid green; */
  box-sizing: border-box;
}
